@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> سلام خوش آمدید</h1>
    <h1  class="display-4">این برنامه ASP .NET Core  می باشد </h1>
    <h1  class="display-4">.این برنامه بصورت خودکار استقرار یافته است</h1>
<<<<<<< HEAD
    <h1  class="display-4">شماره بروزرسانی : 1.57</h1>
=======
    <h1  class="display-4">شماره بروزرسانی : 1.7</h1>
>>>>>>> 5dc3116ecc34a7d8ef7e99c221ff0892e9aebd25
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
